body {
  margin: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: 
    linear-gradient(135deg, #121212 21px, #333333 22px, #333333 24px, transparent 24px, transparent 67px, #333333 67px, #333333 69px, transparent 69px),
    linear-gradient(225deg, #121212 21px, #333333 22px, #333333 24px, transparent 24px, transparent 67px, #333333 67px, #333333 69px, transparent 69px)0 64px;
  background-color: #121212;
  background-size: 64px 128px;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #1E1E1E;
  padding: 2px 4px;
  border-radius: 3px;
}

a {
  color: #90caf9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
